body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

#container{
    background-color: white;
}

#flexContainer {
    display: flex;
    flex-direction: row;
}

#cornerLogo{
    width: 10vw;
    height: 5vh;
}

.logo{
    /*width: 40%;*/
    padding-top: 10px;
    padding-left: 10px;
}

#img-container{
    max-width: 100%;
    max-height: 100%;
}

.center-pane{
    background-color: #099dfd;
    flex: 2;
    text-align: center;
    
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50px;

    padding-bottom: 50px;
    padding-left: 60px;
    padding-right: 60px;

    max-width: 400px;
    max-height: 600px;
    box-shadow: -1px 1px 5px 9px rgba(0, 0, 0, 0.041);
}

.left-pane{
    width: 500px;
    height: 700px;
    padding-left: 40px;
    padding-right: 40px;
}

#illustration{
    max-width: 100%;
    max-height: 100%;
}

#illustrationContainer{
    width: 300px;
    margin: auto;
    padding-bottom: 45px;
}

#bottomText{
    font-size: 1.5rem;
    color: white;
    margin-bottom: 50px;
}

#circleContainer{
    display: flex;
    margin: 0 auto;
    margin-top: 60px;
    width: 300px;
    height: 300px;
    border-radius: 1000px;
    background-color:#099dfd;
    justify-items: center;
    margin-bottom: 50px;
}

.right-pane{
    flex: 2;
    text-align: left;

    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 0px;

    padding-bottom: 50px;
    padding-left: 60px;
    padding-right: 60px;

    max-width: 400px;
    max-height: 600px;
    box-shadow: -1px 1px 5px 9px rgba(0, 0, 0, 0.041);
    
}

.loginContainer{
    margin-top: 20vh;
    margin-left: 2vh;
}

#headingText{
    font-size:1.25rem;
}

#highlighted{
    color: #099dfd;
}

#email {
    margin-top: 20px;
}

input {
    margin-top: 10px;
    width: 90%;
    font-size: 1.25rem;
    border: 2px solid #099dfd;
    border-radius: 5px;
}

.submitButton {
    background-color: #099dfd;
    margin-top: 15px;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;

    color: white;
    border: none;
    font-size: 1.25rem;
    border-radius: 5px;
}







